<h1>Products</h1>
<a href="products/create">Ajouter un produit</a>
<ul>
    {% for product in products %}
        <li>ID : {{ product['id'] }} - REF: ID : {{ product['reference'] }} - <a href="products/{{ product['id'] }}">Voir</a> - <a href="products/{{ product['id'] }}/edit">Editer</a> - <a href="products/{{ product['id'] }}/delete">Supprimer</a></li>
    {% endfor %}
</ul>
