{% extends 'base.html.twig' %}

{% block body %}

<h1>Products</h1>
<a href="{{ path('app_products_create') }}">Ajouter un produit</a>
<ul>
    {% for product in products %}
        <li>ID : {{ product['id'] }} - REF: {{ product['reference'] }} -

        <a href="{{ path('app_products_show', {'id': product.id}) }}">Voir</a> -
        <a href="{{ path('app_products_edit', {'id': product.id}) }}">Editer</a> -

        <form action="{{ path('app_products_delete', {'id': product.id}) }}" method="POST" onsubmit="return confirm('Are you sure?')" style="display:inline">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="submit" value="Supprimer">
        </form></li>
    {% endfor %}
</ul>

{% for flash_message in app.session.flashBag.get('success') %}
    <div style="color:green">
        {{ flash_message }}
    </div>
{% endfor %}

{% endblock %}
